.presentation, .container, .partenaires, .services, .formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 900px;
    border-radius: 50px;  
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.5 ease-out;
}

.presentation:hover, .container:hover, .partenaires:hover, .services:hover {
    box-shadow: 0px 0px 10px 3px rgba(252,231,247,0.75);
    transition: 0.5s ease-in;
}



.para {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 90%;;
    text-align: justify;
    margin: 40px;
}

.para p {
    margin: 0;
    margin-right: 30px;
}

.pres_services img, .service img, .service2 img {
    width: 300px;
    height: 200px;
    border-radius: 50px;
    transition: 0.5s ease-out;

}

.pres_services img:hover, .service img:hover, .service2 img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 3px rgba(252,231,247,0.75);
    transition: 0.5s ease-in-out;
}

.pres_services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.partenaire1{

    margin-left: 50px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 30px;
    margin-right:35px;
}

.partenaire1 img{
    width: 80px;
    height:70px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service {
    display: flex;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
    align-items: center;
}

.service2 {
    display: flex;
    margin: 30px;
    flex-direction: row-reverse;
    align-items: center;

}

figcaption{
    text-align: center;
    font-size:large;
    font-weight: bold;
    margin-bottom: 10px;
}

.partenaires button{
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: medium;
}

footer img {
    height: 50px;
}

footer a {
    text-decoration: none;
}

.services p{
    margin: 30px;
}

.formulaire{
    display: flex;
    flex-direction: column;
}

textarea {
    width: 700px;
    height: 200px;
    border-radius: 50px;
    padding: 20px;
}

input, select {
    height: 30px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid lightgrey;
    padding: 3px;
    padding-left: 10px;
}



label {
    font-family: 'Saira Semi Condensed', sans-serif;
    margin-left: 15px;
}

.sujet {
    display: flex;
    flex-direction: row;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    }

.formulaire p {
    margin: 40px;
}

.item_formulaire {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.groupe_questions {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

#ou {
    margin-bottom: 0;
    margin-top: 30px;
}




